<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <script type="module" src="/javascripts/push-api.js"></script>
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>

  <button type="module" id="web-push-register-btn">웹 푸시 등록</button>
  <button type="module" id="web-push-unsubscribe-btn">웹 푸시 구독 해제</button>
  <br/>
  <br/>
  <button onclick="sendNotification()">알림 보내기</button>
  <p>알림 보내기를 클릭 하면, 웹 푸시가 서버에 등록된 유저들에게 알림을 보냅니다.</p>
  <p>웹 푸시를 등록하고, 알림 권한을 차단으로 변경한 상태에서 알림 보내기 기능이 작동하면, 해당 유저 정보는 서버에서 삭제됩니다.</p>
  <p>[웹 푸시 등록] 버튼을 눌러서 다시 등록해야 알림이 다시 정상적으로 작동합니다.</p>
  
  <script>
    function sendNotification() {
      fetch('/send-notification', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
      });
    }
  </script>
</body>

</html>